{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium bevat aanvullende termen mbt locatie-aanduidingen.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
