{% extends "impl.j2" %}

{% block summary %}
<p>Dit implementatiemodel is bedoeld voor het beschrijven van Agents vh type Persoon, GeregistreerdPersoon, Organisatie en GeregistreerdeOrganisatie.</p>
<p>Het is gebaseerd op de applicatieprofielen <a href="https://data.vlaanderen.be/doc/applicatieprofiel/persoon-basis/">OSLO-Persoon-basis</a> en <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">OSLO-Organisatie-basis</a> en introduceeret geen nieuwe terminologie.</p> 
<p>Het diagram geeft dmv stereotypes ook aan welke de primair te ontsluiten klassen zijn, in welk implementatiemodel deze worden beschreven, of de klasse abstract is en of naar andere klassen by-reference wordt verwezen.
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
