{% extends "impl.j2" %}

{% block summary %}
<p>Dit implementatiemodel is bedoeld voor het beschrijven van Grondboringen, Boorgaten en Grondmonsters.</p>
<p>Het is een aanpassing van het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/grondboringen/">applicatieprofiel OSLO-Grondboringen</a> en introduceert daarbij geen nieuwe termen.</p>
<p>Tov het applicatieprofiel werd een aantal termen verder uitgewerkt (bvb TemporeleEntiteit, KwantitatieveWaarde) of werden aanvullende implementatiemodellen gemaakt (bvb voor Agents, Opdrachten).</p>
<p>Het diagram geeft dmv stereotypes ook aan welke de primair te ontsluiten klassen zijn, in welk implementatiemodel deze worden beschreven, of de klasse abstract is en of naar andere klassen by-reference wordt verwezen.
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
