{% extends "impl.j2" %}

{% block summary %}
<p>Dit implementatiemodel is bedoeld voor het beschrijven van Grondboringen.</p>
<p>Het is een aanpassing voor Grondverzet van het <a href="https://data.vlaanderen.be/doc/applicatieprofiel/bodem-en-ondergrond/grondboringen/">applicatieprofiel OSLO-Grondboringen</a>.</p>
<p>Tov het applicatieprofiel werden een aantal termen gespecialiseerd (zie <a href="https://implementatie.data.vlaanderen.be/ns/grondverzet/grondboringen/">vocabularium Grondverzet -Grondboringen</a> voor de formele beschrijving).</p>
<p>Verder is ook aangegeven welke kenmerken verplicht zijn en welke optioneel zijn.</p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
